<!DOCTYPE html>
<html>
	<body background="dfdff.png">
		<center>
			<h1 style= "color:IndianRed; border:orange; padding: 1em; border-width:5px; border-style:solid;"> Secure File Storage Using Hybrid Cryptography </h1><br>
			<h3 style= "color:IndianRed;">Select file to restore data</h3>
			<form action = "/decrypt_data" method = "POST" enctype = "multipart/form-data">
				<input type = "file" style="color:black;" name = "file" required/><br>
				<h4 style= "color:IndianRed;">Key: <input type = "text" name = "key" autocomplete="off" style="width: 250px;" required/></h4>
				<br><br><input type = "Submit" style="font-weight:bold; background-color:IndianRed
;color:black; width:150px;height:40px;" value = "Submit"/>
			</form>
			<br><h2 style= "color:IndianRed;">A Project by:</h2>
			<pre style=" color:IndianRed; font-size: 15px ">
				Saumya Rai (9918103112)
				Kartavya Singh (9918103186)
				Kanishk Singh Bisht (9918103218)
				Mudit Singh (9918103221)
			</pre>
		</center>
	</body>
</html>
