<!DOCTYPE html>
<html>
	<body background="dfdff.png">>
		<center>
			<h1 style= "color:IndianRed; border:orange; padding: 1em; border-width:5px; border-style:solid;"> Secure File Storage Using Hybrid Cryptography </h1><br><br>
			<b><p style="color:IndianRed; font-size:50px">SUCCESS</p></b>
			<table>
				<tr>
					<td><a href='home'><button style="font-weight:bold; background-color:IndianRed
 ;color:black; width:150px;height:40px;">Back to HOME</button></a></td>
				</tr>
			</table>
			<br><h4 style= "color:IndianRed;">A Project by:</h4>
			<pre style="color:IndianRed; font-size: 15px ">
				Saumya Rai (9918103112)
				Kartavya Singh (9918103186)
				Kanishk Singh Bisht (9918103218)
				Mudit Singh (9918103221)
			</pre>
		</center>
	</body>
</html>
