<!DOCTYPE html>
<html>
	<body background="dfdff.png">>
		<center>
			<h1 style= "color:IndianRed; border:orange; padding: 1em; border-width:5px; border-style:solid;"> Secure File Storage Using Hybrid Cryptography </h1><br><br>
			<form action = "/encrypt_data" method = "POST" enctype = "multipart/form-data">
				<input type = "file" name = "file" required/><br>
				<h2 style= "color:IndianRed;">Enter email where keys will be sent: <input type="email" name="mail" style="width: 200px;" required/></h5>
				<br><br><input type = "submit" style="font-weight:bold; background-color:IndianRed
;color:black; width:150px;height:40px;" value = "Submit"/>
			</form>
			<br><h2 style= "color:IndianRed;">A Project by:</h2>
			<pre style="color:IndianRed; font-size: 15px ">
				Saumya Rai (9918103112)
				Kartavya Singh (9918103186)
				Kanishk Singh Bisht (9918103218)
				Mudit Singh (9918103221)
			</pre>
		</center>
	</body>
</html>
